<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.douma.woyo.db.dao.CarInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.douma.woyo.db.entity.CarInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="car_no" property="carNo" jdbcType="VARCHAR" />
    <result column="car_no_img" property="carNoImg" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="engine_no" property="engineNo" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="model_id" property="modelId" jdbcType="BIGINT" />
    <result column="car_color" property="carColor" jdbcType="VARCHAR" />
    <result column="car_img" property="carImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, car_no, car_no_img, car_type, engine_no, brand_id, model_id, car_color, 
    car_img
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.douma.woyo.db.entity.CarInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from car_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from car_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.douma.woyo.db.entity.CarInfoExample" >
    delete from car_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.douma.woyo.db.entity.CarInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into car_info (user_id, car_no, car_no_img, 
      car_type, engine_no, brand_id, 
      model_id, car_color, car_img
      )
    values (#{userId,jdbcType=BIGINT}, #{carNo,jdbcType=VARCHAR}, #{carNoImg,jdbcType=VARCHAR}, 
      #{carType,jdbcType=VARCHAR}, #{engineNo,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}, 
      #{modelId,jdbcType=BIGINT}, #{carColor,jdbcType=VARCHAR}, #{carImg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.douma.woyo.db.entity.CarInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into car_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="carNo != null" >
        car_no,
      </if>
      <if test="carNoImg != null" >
        car_no_img,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="engineNo != null" >
        engine_no,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="carColor != null" >
        car_color,
      </if>
      <if test="carImg != null" >
        car_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="carNo != null" >
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carNoImg != null" >
        #{carNoImg,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="engineNo != null" >
        #{engineNo,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=BIGINT},
      </if>
      <if test="carColor != null" >
        #{carColor,jdbcType=VARCHAR},
      </if>
      <if test="carImg != null" >
        #{carImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.douma.woyo.db.entity.CarInfoExample" resultType="java.lang.Integer" >
    select count(*) from car_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update car_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.carNo != null" >
        car_no = #{record.carNo,jdbcType=VARCHAR},
      </if>
      <if test="record.carNoImg != null" >
        car_no_img = #{record.carNoImg,jdbcType=VARCHAR},
      </if>
      <if test="record.carType != null" >
        car_type = #{record.carType,jdbcType=VARCHAR},
      </if>
      <if test="record.engineNo != null" >
        engine_no = #{record.engineNo,jdbcType=VARCHAR},
      </if>
      <if test="record.brandId != null" >
        brand_id = #{record.brandId,jdbcType=BIGINT},
      </if>
      <if test="record.modelId != null" >
        model_id = #{record.modelId,jdbcType=BIGINT},
      </if>
      <if test="record.carColor != null" >
        car_color = #{record.carColor,jdbcType=VARCHAR},
      </if>
      <if test="record.carImg != null" >
        car_img = #{record.carImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update car_info
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      car_no = #{record.carNo,jdbcType=VARCHAR},
      car_no_img = #{record.carNoImg,jdbcType=VARCHAR},
      car_type = #{record.carType,jdbcType=VARCHAR},
      engine_no = #{record.engineNo,jdbcType=VARCHAR},
      brand_id = #{record.brandId,jdbcType=BIGINT},
      model_id = #{record.modelId,jdbcType=BIGINT},
      car_color = #{record.carColor,jdbcType=VARCHAR},
      car_img = #{record.carImg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.douma.woyo.db.entity.CarInfo" >
    update car_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="carNo != null" >
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carNoImg != null" >
        car_no_img = #{carNoImg,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="engineNo != null" >
        engine_no = #{engineNo,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=BIGINT},
      </if>
      <if test="carColor != null" >
        car_color = #{carColor,jdbcType=VARCHAR},
      </if>
      <if test="carImg != null" >
        car_img = #{carImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.douma.woyo.db.entity.CarInfo" >
    update car_info
    set user_id = #{userId,jdbcType=BIGINT},
      car_no = #{carNo,jdbcType=VARCHAR},
      car_no_img = #{carNoImg,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      engine_no = #{engineNo,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=BIGINT},
      model_id = #{modelId,jdbcType=BIGINT},
      car_color = #{carColor,jdbcType=VARCHAR},
      car_img = #{carImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>