<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.douma.woyo.db.dao.RequirementInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.douma.woyo.db.entity.RequirementInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="req_no" property="reqNo" jdbcType="VARCHAR" />
    <result column="reqt_type" property="reqtType" jdbcType="VARCHAR" />
    <result column="req_start_address" property="reqStartAddress" jdbcType="VARCHAR" />
    <result column="req_end_address" property="reqEndAddress" jdbcType="VARCHAR" />
    <result column="req_time" property="reqTime" jdbcType="TIMESTAMP" />
    <result column="person_num" property="personNum" jdbcType="INTEGER" />
    <result column="cargo_num" property="cargoNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_idno" property="createIdno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, req_no, reqt_type, req_start_address, req_end_address, req_time, person_num, 
    cargo_num, create_time, create_idno
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.douma.woyo.db.entity.RequirementInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from requirement_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from requirement_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from requirement_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.douma.woyo.db.entity.RequirementInfoExample" >
    delete from requirement_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.douma.woyo.db.entity.RequirementInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into requirement_info (req_no, reqt_type, req_start_address, 
      req_end_address, req_time, person_num, 
      cargo_num, create_time, create_idno
      )
    values (#{reqNo,jdbcType=VARCHAR}, #{reqtType,jdbcType=VARCHAR}, #{reqStartAddress,jdbcType=VARCHAR}, 
      #{reqEndAddress,jdbcType=VARCHAR}, #{reqTime,jdbcType=TIMESTAMP}, #{personNum,jdbcType=INTEGER}, 
      #{cargoNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createIdno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.douma.woyo.db.entity.RequirementInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into requirement_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reqNo != null" >
        req_no,
      </if>
      <if test="reqtType != null" >
        reqt_type,
      </if>
      <if test="reqStartAddress != null" >
        req_start_address,
      </if>
      <if test="reqEndAddress != null" >
        req_end_address,
      </if>
      <if test="reqTime != null" >
        req_time,
      </if>
      <if test="personNum != null" >
        person_num,
      </if>
      <if test="cargoNum != null" >
        cargo_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createIdno != null" >
        create_idno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reqNo != null" >
        #{reqNo,jdbcType=VARCHAR},
      </if>
      <if test="reqtType != null" >
        #{reqtType,jdbcType=VARCHAR},
      </if>
      <if test="reqStartAddress != null" >
        #{reqStartAddress,jdbcType=VARCHAR},
      </if>
      <if test="reqEndAddress != null" >
        #{reqEndAddress,jdbcType=VARCHAR},
      </if>
      <if test="reqTime != null" >
        #{reqTime,jdbcType=TIMESTAMP},
      </if>
      <if test="personNum != null" >
        #{personNum,jdbcType=INTEGER},
      </if>
      <if test="cargoNum != null" >
        #{cargoNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createIdno != null" >
        #{createIdno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.douma.woyo.db.entity.RequirementInfoExample" resultType="java.lang.Integer" >
    select count(*) from requirement_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update requirement_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.reqNo != null" >
        req_no = #{record.reqNo,jdbcType=VARCHAR},
      </if>
      <if test="record.reqtType != null" >
        reqt_type = #{record.reqtType,jdbcType=VARCHAR},
      </if>
      <if test="record.reqStartAddress != null" >
        req_start_address = #{record.reqStartAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.reqEndAddress != null" >
        req_end_address = #{record.reqEndAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.reqTime != null" >
        req_time = #{record.reqTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.personNum != null" >
        person_num = #{record.personNum,jdbcType=INTEGER},
      </if>
      <if test="record.cargoNum != null" >
        cargo_num = #{record.cargoNum,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createIdno != null" >
        create_idno = #{record.createIdno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update requirement_info
    set id = #{record.id,jdbcType=BIGINT},
      req_no = #{record.reqNo,jdbcType=VARCHAR},
      reqt_type = #{record.reqtType,jdbcType=VARCHAR},
      req_start_address = #{record.reqStartAddress,jdbcType=VARCHAR},
      req_end_address = #{record.reqEndAddress,jdbcType=VARCHAR},
      req_time = #{record.reqTime,jdbcType=TIMESTAMP},
      person_num = #{record.personNum,jdbcType=INTEGER},
      cargo_num = #{record.cargoNum,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_idno = #{record.createIdno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.douma.woyo.db.entity.RequirementInfo" >
    update requirement_info
    <set >
      <if test="reqNo != null" >
        req_no = #{reqNo,jdbcType=VARCHAR},
      </if>
      <if test="reqtType != null" >
        reqt_type = #{reqtType,jdbcType=VARCHAR},
      </if>
      <if test="reqStartAddress != null" >
        req_start_address = #{reqStartAddress,jdbcType=VARCHAR},
      </if>
      <if test="reqEndAddress != null" >
        req_end_address = #{reqEndAddress,jdbcType=VARCHAR},
      </if>
      <if test="reqTime != null" >
        req_time = #{reqTime,jdbcType=TIMESTAMP},
      </if>
      <if test="personNum != null" >
        person_num = #{personNum,jdbcType=INTEGER},
      </if>
      <if test="cargoNum != null" >
        cargo_num = #{cargoNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createIdno != null" >
        create_idno = #{createIdno,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.douma.woyo.db.entity.RequirementInfo" >
    update requirement_info
    set req_no = #{reqNo,jdbcType=VARCHAR},
      reqt_type = #{reqtType,jdbcType=VARCHAR},
      req_start_address = #{reqStartAddress,jdbcType=VARCHAR},
      req_end_address = #{reqEndAddress,jdbcType=VARCHAR},
      req_time = #{reqTime,jdbcType=TIMESTAMP},
      person_num = #{personNum,jdbcType=INTEGER},
      cargo_num = #{cargoNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_idno = #{createIdno,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>